doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles.css')
    script.
      function viewUser(userId) {
        window.location = `./users/${userId}`;
      }

      function viewUserInBase(userId){
        window.location = `./api/users/${userId}`;
      }

      function reset(){
        window.location = `./api/reset`;
      }
  body
    h1 Back result from Backend API in Home page > index.pug
      h2 GET Request: 
        a(href='http://localhost:3000/API_DATA', target='_blank')  ./API From Url
        p Users List (Click a user to view details)
        samp when first send requsest info from API Url record in mongoose base and back  result from base 
      section
        each user in users.data
          article(key=user.id, onclick=`viewUser(${user.id})`)
            div
              h5 #{user.first_name} #{user.last_name}
              samp #{user.email}
            img(src=user.avatar, alt=`Avatar of ${user.first_name}`)
    
        br
        br
  hr

  h1 info from mongoDB/mongoose base
    h2 Create New User  
      a(href='http://localhost:3000/api/createNew') ./api/creat
    h2 users info from mongoose base
      a(href='http://localhost:3000/api/users', target='_blank') ./api/users
      p Users List (Click a user to view template with POST, DELETE requests form )
 
    section
      each user in base
        article(onclick=`viewUserInBase(${user.id})`)
          div
            h5 #{user.firstNname} #{user.lastName}
            samp #{user.email}
          img(src=`data:image/jpeg;base64,${user.avatarPath}` alt="Avatar")   

    div(class="reset-cont")
      button(class='reset', onclick=`reset()`) reset base 

