doctype html
html
  head
    title #{apiData.title}
    link(rel='stylesheet', href='/styles.css') 
  body
    h1 #{apiData.description}

    h2 Users List ( Click user and send pull or delete request )
    section 
      each user in apiData.users
        article 
          div 
            h5 #{user.first_name}
            samp #{user.email}
          img(src=user.avatar, alt=user.id)

    h2 Items
    ul
      each item in apiData.items
        li #{item}
