// user-details.pug  user can hear View user info and request link with get. delete, update, creat.
doctype html
html
  head
    title User Details
    link(rel='stylesheet', href='/styles.css')
    script.
      function deleteUser(id) {
        fetch(`/api/users/${id}/delete`, {
          method: 'DELETE',
        })
        .then(response => response.json())
        .then(data => {
          console.log(data.message);
          if (data.message.includes('deleted successfully')) {
            window.location.href = '/'; 
          }
        })
        .catch(error => {
          console.error('Error:', error);
        });
      }

      async function updateUser(id) {
        const form = document.getElementById('updateForm');
        const formData = new FormData(form);
        
        const data = {
          firstName: formData.get('firstName'),
          lastName: formData.get('lastName'),
          email: formData.get('email'),
        };

        try {
          const response = await fetch(`/api/users/${id}/update`, {
            method: 'PATCH',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
          });
          
          const result = await response.json();
          window.location = `/api/users/${id}/update `;
          console.log(result.message);
        } catch (error) {
          console.error('Error updating user:', error);
        }
      }


  body
    h1 Hear Back response With selected user ById
    h3 Back Home 
      a(href=`/`, target='_self') index

    ul 
      div 
        b Resuests: 
        li 
          label GET
          a(href=`/api/users/${id}`, target='_blank') ./api/users/#{id}
        li 
          label DELETE
          a(href=`/api/users/${id}/delete`, onclick=`deleteUser(${id})`) Delete User        
        
        li
          label PULL
          a(href=`/api/users/${id}/update`, onclick=`updateUser(${id})`) ./api/users/${id}/update

      div
        form(id='updateForm')
          label First Name:
            input(placeholder=`${firstName || 'First Name'}`, name='firstName', type='text')
          label Last Name:
            input(placeholder=`${lastName || 'Last Name'}`, name='lastName', type='text')
          label Your Email:
            input(placeholder=`${email || 'Email'}`, name='email', type='email')
          button(type='button', onclick=`updateUser(${id})`) Update User
          button(type='button', onclick=`deleteUser(${id})`) Delete User


      div 
        section 
          article 
            div
            h5 #{firstName} #{lastName}
            samp Email: #{email}
            samp ID: #{id}
            br
            img(src=`data:image/jpeg;base64,${avatarPath}`, alt=`Avatar of ${firstName}`)

