doctype html
html
  head
    title User Details
    link(rel='stylesheet', href='/styles.css')
  body
    h1 Hear Back response With selected user ById
    h3 Back Home 
      a(href=`/`, target='_self') index

    ul 
      div 
        b Resuests: 
        li 
          label GET
          a(href=`/api/users/${id}`, target='_blank')  ./api/users/#{id}
        li 
          label PULL
          a(href=`/api/users/${id}/update`, target='_blank')  ./api/users/#{id}/update
          samp if need Update user info inset info in Inpute
        li 
          label DELETE
          a(href=`/api/users/${id}/delete`, target='_blank')  ./api/users/#{id}/delete

      div 
        form 
          label First Name: 
            input(placeholder='first name')
          label Last Name: 
            input(placeholder='last name')
          label Your Email:
            input(placeholder='email')


    p 
    section 
      article 
        div
          h5 #{first_name} #{last_name}
        samp Email: #{email}
        samp ID: #{id}
        br
        img(src=avatar, alt=`Avatar of ${first_name}`)

