// user-details.pug  user can hear View user info and request link with get. delete, update, creat.
doctype html
html
  head
    title User Details
    link(rel='stylesheet', href='/styles.css')


  body
    h1 Hear Back response With selected user ById
    h3 Back Home 
      a(href=`/`, target='_self') index

    ul 
      div 
        b Resuests: 
        li 
          label GET
          a(href=`/api/users/${id}`, target='_blank') ./api/users/#{id}
        li 
          label PULL
          a(href=`/api/users/${id}/update`) ./api/users/#{id}/update
          samp if need Update user info inset info in Inpute
        li 
          label DELETE
          a(href=`javascript:deleteUser(${id})`) Delete User
          script.
            function deleteUser(id) {
              fetch(`/api/users/${id}/delete`, {
                method: 'DELETE',
              })
              .then(response => response.json())
              .then(data => {
                console.log(data.message);
                if (data.message.includes('deleted successfully')) {
                  // Optionally handle successful deletion
                  // For example, you can redirect to another page or remove the item from the DOM
                  window.location.href = '/'; // Redirect to home or another page
                }
              })
              .catch(error => {
                console.error('Error:', error);
              });
            }

      div
        form(action=`/api/users/${id}/update`, method='post')
          label First Name:
            input(placeholder=`${firstName || 'First Name'}`, name='firstName', type='text')
          label Last Name:
            input(placeholder=`${lastName || 'Last Name'}`, name='lastName', type='text')
          label Your Email:
            input(placeholder=`${email || 'Email'}`, name='email', type='email')
          button(type='submit') Update

      div 
        section 
          article 
            div
            h5 #{firstName} #{lastName}
            samp Email: #{email}
            samp ID: #{id}
            br
            img(src=`data:image/jpeg;base64,${avatarPath}`, alt=`Avatar of ${firstName}`)

