// user-details.pug  user can hear View user info and request link with get. delete, update, creat.
doctype html
html
  head
    title User Details
    link(rel='stylesheet', href='/styles.css')
  body
    h1 Hear Back response With selected user ById
    h3 Back Home 
      a(href=`/`, target='_self') index

    ul 
      div 
        b Resuests: 
        li 
          label GET
          a(href=`/api/users/${id}`, target='_blank') ./api/users/#{id}
        li 
          label PULL
          a(href=`/api/users/${id}/update`, target='_blank') ./api/users/#{id}/update
          samp if need Update user info inset info in Inpute
        li 
          label DELETE
          a(href=`/api/users/${id}/delete`, target='_blank') ./api/users/#{id}/delete

      div
        form(action=`/api/users/${id}/update`, method='post')
          label First Name:
            input(placeholder=`${firstName || 'First Name'}`, name='firstName', type='text')
          label Last Name:
            input(placeholder=`${lastName || 'Last Name'}`, name='lastName', type='text')
          label Your Email:
            input(placeholder=`${email || 'Email'}`, name='email', type='email')
          button(type='submit') Update

      div 
        section 
          article 
            div
            h5 #{firstName} #{lastName}
            samp Email: #{email}
            samp ID: #{id}
            br
            img(src=`data:image/jpeg;base64,${avatarPath}`, alt=`Avatar of ${firstName}`)

